@{
    ViewData["Title"] = "Customer Survey";
}

<div id="survey-container" data-url="@Url.Action("Index")"></div>

<div>
    <p><strong><span id="survey-http-status"></span></strong></p>
    <div id="survey-results"></div>
</div>

